CREATE DATABASE [web_ban_hang]
GO

USE [web_ban_hang]
GO
/****** Object:  Table [dbo].[p000account]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p000account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](15) NULL,
	[address] [nvarchar](100) NULL,
	[password] [nvarchar](255) NOT NULL,
	[img] [nvarchar](255) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[role] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1000shopcomment]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1000shopcomment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdShop] [int] NULL,
	[IdUser] [int] NULL,
	[IdCommentStatus] [int] NULL,
	[Content] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IdTypeComment] [int] NULL,
	[IdStaff] [int] NULL,
 CONSTRAINT [PK__p1000sho__3213E83F614E7968] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p100menu]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p100menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdParentMenu] [int] NULL,
	[IsGroup] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Slug] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[Position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1100shopcategories]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1100shopcategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Thumbnail] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1200mealplantype]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1200mealplantype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1300blogcategories]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1300blogcategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1400blog]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1400blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdBlogCategories] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Thumbnail] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
	[Content] [text] NULL,
	[NumberView] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1500contactinfo]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1500contactinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Mail] [nvarchar](30) NULL,
	[Working] [nvarchar](200) NULL,
	[Facebook] [nvarchar](100) NULL,
	[Instagram] [nvarchar](100) NULL,
	[Youtube] [nvarchar](100) NULL,
	[Twitter] [nvarchar](100) NULL,
	[Map] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1600contactstatus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1600contactstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1700contactus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1700contactus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdContactStatus] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](30) NULL,
	[Message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1800userstatus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1800userstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p1900roleuser]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p1900roleuser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2000user]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2000user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdUserStatus] [int] NULL,
	[Fullname] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Avatar] [text] NULL,
	[IdRoleUser] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[authkey] [nvarchar](max) NULL,
	[Phone] [nvarchar](15) NULL,
	[Sex] [nvarchar](10) NULL,
	[IdCity] [nvarchar](10) NULL,
	[IdDistrict] [nvarchar](10) NULL,
	[Address] [nvarchar](250) NULL,
	[Point] [int] NULL,
 CONSTRAINT [PK__p2000use__3213E83FCC8F841F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p200role]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p200role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2100promotion]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2100promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PromotionCode] [nvarchar](30) NULL,
	[PercentCode] [float] NULL,
	[MoneyDiscount] [float] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2200orderstatus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2200orderstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2300paymentstatus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2300paymentstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2400paymenttype]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2400paymenttype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2500city]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2500city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2600district]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2600district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdCity] [int] NULL,
	[Name] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2700producttype]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2700producttype](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2800ordershop]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2800ordershop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdProductType] [int] NULL,
	[IdUser] [int] NULL,
	[IdOrderStatus] [int] NULL,
	[IdCity] [int] NULL,
	[IdDistrict] [int] NULL,
	[IdPaymentStatus] [int] NULL,
	[IdPaymentType] [int] NULL,
	[TotalPrice] [real] NULL,
	[PromotionCode] [nvarchar](50) NULL,
	[Name] [nvarchar](30) NULL,
	[Email] [nvarchar](30) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](150) NULL,
	[Note] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p2900orderdetail]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2900orderdetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrderShop] [int] NULL,
	[IdShop] [int] NULL,
	[Amount] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Star] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3000commentstatus]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3000commentstatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p300roledetail]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p300roledetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NULL,
	[IdMenu] [int] NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3100mypromotion]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3100mypromotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdPromotion] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3200inputproduct]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3200inputproduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdShop] [int] NULL,
	[Note] [nvarchar](150) NULL,
	[ExpiryDate] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Amount] [int] NULL,
	[IdCity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p3300warehouse]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p3300warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdShop] [int] NULL,
	[Amount] [int] NULL,
	[ExpiryDate] [date] NULL,
	[IdCity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p400banner]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p400banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p500footer]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p500footer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Content1] [nvarchar](max) NULL,
	[Content2] [nvarchar](max) NULL,
	[Content3] [nvarchar](max) NULL,
	[AndroidLink] [nvarchar](100) NULL,
	[IosLink] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p600headerinfo]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p600headerinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Mail] [nvarchar](30) NULL,
	[Logo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p700shop]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p700shop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Thumbnail] [nvarchar](150) NULL,
	[Description] [text] NULL,
	[PriceOrigin] [real] NULL,
	[PriceCurrent] [real] NULL,
	[Star] [real] NULL,
	[Images] [nvarchar](150) NULL,
	[Video] [nvarchar](150) NULL,
	[IdShopCategories] [int] NULL,
	[PricePromotion] [real] NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p800shopcombo]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p800shopcombo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usd] [float] NULL,
	[Ship] [int] NULL,
 CONSTRAINT [PK__p800shop__3213E83F5F88CAB2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[p900shopcombodetail]    Script Date: 24/06/2021 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p900shopcombodetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdShopCombo] [int] NULL,
	[IdShop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[p000account] ON 

INSERT [dbo].[p000account] ([id], [IdRole], [name], [email], [phone], [address], [password], [img], [created_date], [role]) VALUES (1, 1, N'Administrator', N'admin@gmail.com', N'0966250693', N'183 Quách Thị Trang', N'5f4dcc3b5aa765d61d8327deb882cf99', N'http://127.0.0.1:8000/images\2021_04_28_10_03_04_3 vi.jpg', CAST(N'2021-04-28T10:08:36.000' AS DateTime), N'a:3,b:3,c:3,d:3,e:3,f:3,g:3,h:3,i:3,j:3,k:3,l:3,m:3,n:3,o:3,p:3,q:3,r:3,s:3,t:3,u:3,v:3,w:3,x:3,y:3,z:3,{:3,|:3,}:3,~:3,:3')
SET IDENTITY_INSERT [dbo].[p000account] OFF
GO
SET IDENTITY_INSERT [dbo].[p1000shopcomment] ON 

INSERT [dbo].[p1000shopcomment] ([id], [IdShop], [IdUser], [IdCommentStatus], [Content], [CreatedAt], [IdTypeComment], [IdStaff]) VALUES (1, 1, 1, 1, N'<p>m?i t?o</p>
', CAST(N'2021-04-20T14:22:29.000' AS DateTime), 0, 0)
INSERT [dbo].[p1000shopcomment] ([id], [IdShop], [IdUser], [IdCommentStatus], [Content], [CreatedAt], [IdTypeComment], [IdStaff]) VALUES (3, 2, 1, 1, N'<p>L?n 2</p>
', CAST(N'2021-04-20T14:22:55.000' AS DateTime), 0, 0)
INSERT [dbo].[p1000shopcomment] ([id], [IdShop], [IdUser], [IdCommentStatus], [Content], [CreatedAt], [IdTypeComment], [IdStaff]) VALUES (4, 2, 0, 1, N'<p>L?n 3</p>
', CAST(N'2021-04-20T14:23:08.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[p1000shopcomment] OFF
GO
SET IDENTITY_INSERT [dbo].[p100menu] ON 

INSERT [dbo].[p100menu] ([id], [IdParentMenu], [IsGroup], [Name], [Slug], [Icon], [Position]) VALUES (1, 0, 0, N'DashBoard', N'/manager/home', N'fas fa-chart-line', 1)
INSERT [dbo].[p100menu] ([id], [IdParentMenu], [IsGroup], [Name], [Slug], [Icon], [Position]) VALUES (2, 0, 1, N'Manage Permission', N'', N'fas fa-book-spells', 2)
INSERT [dbo].[p100menu] ([id], [IdParentMenu], [IsGroup], [Name], [Slug], [Icon], [Position]) VALUES (3, 2, 0, N'Menu', N'/manager/c2-menu', N'fas fa-bars', 3)
SET IDENTITY_INSERT [dbo].[p100menu] OFF
GO
SET IDENTITY_INSERT [dbo].[p1100shopcategories] ON 

INSERT [dbo].[p1100shopcategories] ([id], [Name], [Thumbnail]) VALUES (1, N'Máy ảnh', N'http://127.0.0.1:8000/images\2021_04_28_09_47_21_camera.png')
INSERT [dbo].[p1100shopcategories] ([id], [Name], [Thumbnail]) VALUES (2, N'Laptop', N'http://127.0.0.1:8000/images\2021_04_28_09_47_28_maytinh.png')
INSERT [dbo].[p1100shopcategories] ([id], [Name], [Thumbnail]) VALUES (3, N'Đồng hồ', N'http://127.0.0.1:8000/images\2021_04_29_08_57_42_dongho.png')
SET IDENTITY_INSERT [dbo].[p1100shopcategories] OFF
GO
SET IDENTITY_INSERT [dbo].[p1300blogcategories] ON 

INSERT [dbo].[p1300blogcategories] ([id], [Name]) VALUES (1, N'Tin tức')
INSERT [dbo].[p1300blogcategories] ([id], [Name]) VALUES (2, N'Đời sống')
SET IDENTITY_INSERT [dbo].[p1300blogcategories] OFF
GO
SET IDENTITY_INSERT [dbo].[p1400blog] ON 

INSERT [dbo].[p1400blog] ([id], [IdBlogCategories], [Title], [Thumbnail], [Description], [Content], [NumberView], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'bbbbb', N'http://127.0.0.1:8000/images\2021_04_28_09_32_24_item-menu.jpg', N'ádasd', N'<p>cvbcvb</p>

<p>\n</p>
', 10, CAST(N'2021-04-02T09:32:26.000' AS DateTime), CAST(N'2021-04-10T09:32:26.000' AS DateTime))
INSERT [dbo].[p1400blog] ([id], [IdBlogCategories], [Title], [Thumbnail], [Description], [Content], [NumberView], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'nnnn', N'http://127.0.0.1:8000/images\2021_04_28_09_32_31_3 vi.jpg', N'sdfsd', N'<p>345345</p>

<p>\n</p>
', 6, CAST(N'2021-04-01T09:32:32.000' AS DateTime), CAST(N'2021-04-01T09:32:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[p1400blog] OFF
GO
SET IDENTITY_INSERT [dbo].[p1500contactinfo] ON 

SET IDENTITY_INSERT [dbo].[p1500contactinfo] OFF
GO
SET IDENTITY_INSERT [dbo].[p1600contactstatus] ON 

INSERT [dbo].[p1600contactstatus] ([id], [Name]) VALUES (1, N'Mới gửi')
SET IDENTITY_INSERT [dbo].[p1600contactstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[p1700contactus] ON 

INSERT [dbo].[p1700contactus] ([id], [IdContactStatus], [Name], [Email], [Message]) VALUES (1, NULL, N'luongadsas', N'luongthanhbinh45@gmail.com', N'ádasd')
INSERT [dbo].[p1700contactus] ([id], [IdContactStatus], [Name], [Email], [Message]) VALUES (2, NULL, N'luongadsas', N'luongthanhbinh45@gmail.com', N'ádasd')
INSERT [dbo].[p1700contactus] ([id], [IdContactStatus], [Name], [Email], [Message]) VALUES (3, 1, N'3453234', N'luongthanhbinh45@gmail.com', N'23423')
SET IDENTITY_INSERT [dbo].[p1700contactus] OFF
GO
SET IDENTITY_INSERT [dbo].[p1800userstatus] ON 

INSERT [dbo].[p1800userstatus] ([id], [Name]) VALUES (1, N'Mới đăng ký')
SET IDENTITY_INSERT [dbo].[p1800userstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[p1900roleuser] ON 

INSERT [dbo].[p1900roleuser] ([id], [Name]) VALUES (1, N'Khách hàng')
INSERT [dbo].[p1900roleuser] ([id], [Name]) VALUES (2, N'Khách Vip')
SET IDENTITY_INSERT [dbo].[p1900roleuser] OFF
GO
SET IDENTITY_INSERT [dbo].[p2000user] ON 

INSERT [dbo].[p2000user] ([id], [IdUserStatus], [Fullname], [Email], [Password], [Avatar], [IdRoleUser], [CreatedAt], [UpdatedAt], [authkey], [Phone], [Sex], [IdCity], [IdDistrict], [Address], [Point]) VALUES (1, 1, N'Luong Thanh Bình', N'luongthanhbinh451@gmail.com', N'020F80EC82D9A9EB21B53468F3F97E39', N'http://127.0.0.1:8000/images\2021_04_28_09_28_00_mt.jpg', 1, CAST(N'2021-03-30T13:56:47.000' AS DateTime), CAST(N'2021-05-10T13:56:47.000' AS DateTime), N'', N'456456456', N'1', N'1', N'1', N'56456', 1000)
INSERT [dbo].[p2000user] ([id], [IdUserStatus], [Fullname], [Email], [Password], [Avatar], [IdRoleUser], [CreatedAt], [UpdatedAt], [authkey], [Phone], [Sex], [IdCity], [IdDistrict], [Address], [Point]) VALUES (17, 1, N'Lương Thanh Bình', N'luongthanhbinh45@gmail.com', N'6A50CE6F7C366CB17C71FB6EA5CC3D1D', N'http://127.0.0.1:8000/images\2021_04_28_09_28_00_mt.jpg', 1, CAST(N'2021-05-04T13:56:54.000' AS DateTime), CAST(N'2021-05-11T13:56:54.000' AS DateTime), N'luongthanhbinh45@gmail.com', N'0966150693', N'1', N'1', N'1', N'56456', 70)
INSERT [dbo].[p2000user] ([id], [IdUserStatus], [Fullname], [Email], [Password], [Avatar], [IdRoleUser], [CreatedAt], [UpdatedAt], [authkey], [Phone], [Sex], [IdCity], [IdDistrict], [Address], [Point]) VALUES (18, 1, N'Luong Thanh Bình', N'luongthanhbinh345345@gmail.com', N'B379B04B1FB4E5AB34E0C3ABCE88757D', N'http://127.0.0.1:8000/images\2021_04_28_09_28_00_mt.jpg', 1, CAST(N'2021-05-04T19:49:37.000' AS DateTime), CAST(N'2021-05-04T19:49:37.000' AS DateTime), N'', N'456456456', N'1', N'1', N'1', N'56456', 10)
SET IDENTITY_INSERT [dbo].[p2000user] OFF
GO
SET IDENTITY_INSERT [dbo].[p200role] ON 

INSERT [dbo].[p200role] ([id], [Name]) VALUES (1, N'ADMIN')
INSERT [dbo].[p200role] ([id], [Name]) VALUES (22, N'Chăm sóc khách hàng')
SET IDENTITY_INSERT [dbo].[p200role] OFF
GO
SET IDENTITY_INSERT [dbo].[p2100promotion] ON 

INSERT [dbo].[p2100promotion] ([id], [Name], [PromotionCode], [PercentCode], [MoneyDiscount], [StartDate], [EndDate], [Point]) VALUES (1, N'Khuyến mãi 30-4', N'G50', 0, 300000, CAST(N'2021-04-29' AS Date), CAST(N'2021-05-04' AS Date), 5)
INSERT [dbo].[p2100promotion] ([id], [Name], [PromotionCode], [PercentCode], [MoneyDiscount], [StartDate], [EndDate], [Point]) VALUES (20, N'Khuyến mãi', N'G30', 30, 0, CAST(N'2021-04-30' AS Date), CAST(N'2021-06-30' AS Date), 5)
SET IDENTITY_INSERT [dbo].[p2100promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[p2200orderstatus] ON 

INSERT [dbo].[p2200orderstatus] ([id], [Name]) VALUES (1, N'Mới đặt hàng')
INSERT [dbo].[p2200orderstatus] ([id], [Name]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[p2200orderstatus] ([id], [Name]) VALUES (3, N'Ðang giao hàng')
SET IDENTITY_INSERT [dbo].[p2200orderstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[p2300paymentstatus] ON 

INSERT [dbo].[p2300paymentstatus] ([id], [Name]) VALUES (1, N'Chưa thanh toán')
INSERT [dbo].[p2300paymentstatus] ([id], [Name]) VALUES (2, N'Ðã thanh toán')
SET IDENTITY_INSERT [dbo].[p2300paymentstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[p2400paymenttype] ON 

INSERT [dbo].[p2400paymenttype] ([id], [Name]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[p2400paymenttype] ([id], [Name]) VALUES (2, N'Chuyển khoản')
INSERT [dbo].[p2400paymenttype] ([id], [Name]) VALUES (3, N'Paypal')
SET IDENTITY_INSERT [dbo].[p2400paymenttype] OFF
GO
SET IDENTITY_INSERT [dbo].[p2500city] ON 

INSERT [dbo].[p2500city] ([id], [Name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[p2500city] ([id], [Name]) VALUES (2, N'Hà Giang')
INSERT [dbo].[p2500city] ([id], [Name]) VALUES (4, N'Cao Bằng')
SET IDENTITY_INSERT [dbo].[p2500city] OFF
GO
SET IDENTITY_INSERT [dbo].[p2600district] ON 

INSERT [dbo].[p2600district] ([id], [IdCity], [Name]) VALUES (1, 1, N'Ba Đình')
INSERT [dbo].[p2600district] ([id], [IdCity], [Name]) VALUES (2, 1, N'Hoàn Kiếm')
INSERT [dbo].[p2600district] ([id], [IdCity], [Name]) VALUES (3, 1, N'Tây Hồ')
GO
SET IDENTITY_INSERT [dbo].[p2600district] OFF
GO
SET IDENTITY_INSERT [dbo].[p2700producttype] ON 

INSERT [dbo].[p2700producttype] ([id], [Name]) VALUES (1, N'Sản phẩm mới')
SET IDENTITY_INSERT [dbo].[p2700producttype] OFF
GO
SET IDENTITY_INSERT [dbo].[p2800ordershop] ON 

INSERT [dbo].[p2800ordershop] ([id], [IdProductType], [IdUser], [IdOrderStatus], [IdCity], [IdDistrict], [IdPaymentStatus], [IdPaymentType], [TotalPrice], [PromotionCode], [Name], [Email], [Phone], [Address], [Note], [CreatedAt], [UpdatedAt], [Point]) VALUES (1, 1, 17, 4, 1, 1, 1, 1, 825000, N'', N'Luong Thanh Bình', N'luongthanhbinh45@gmail.com', N'0966150693', N'56456', N'', CAST(N'2021-06-11T11:33:32.000' AS DateTime), CAST(N'2021-06-11T11:33:32.000' AS DateTime), 0)
INSERT [dbo].[p2800ordershop] ([id], [IdProductType], [IdUser], [IdOrderStatus], [IdCity], [IdDistrict], [IdPaymentStatus], [IdPaymentType], [TotalPrice], [PromotionCode], [Name], [Email], [Phone], [Address], [Note], [CreatedAt], [UpdatedAt], [Point]) VALUES (2, 1, 17, 5, 1, 1, 1, 1, 525000, N'', N'Luong Thanh Bình', N'luongthanhbinh45@gmail.com', N'0966150693', N'56456', N'', CAST(N'2021-06-11T11:29:45.000' AS DateTime), CAST(N'2021-06-11T11:29:45.000' AS DateTime), 0)
INSERT [dbo].[p2800ordershop] ([id], [IdProductType], [IdUser], [IdOrderStatus], [IdCity], [IdDistrict], [IdPaymentStatus], [IdPaymentType], [TotalPrice], [PromotionCode], [Name], [Email], [Phone], [Address], [Note], [CreatedAt], [UpdatedAt], [Point]) VALUES (3, 1, 17, 5, 62, 1, 1, 1, 85000, N'', N'Luong Thanh Bình', N'luongthanhbinh45@gmail.com', N'0966150693', N'56456', N'', CAST(N'2021-06-11T11:35:57.000' AS DateTime), CAST(N'2021-06-11T11:35:57.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[p2800ordershop] OFF
GO
SET IDENTITY_INSERT [dbo].[p2900orderdetail] ON 

INSERT [dbo].[p2900orderdetail] ([id], [IdOrderShop], [IdShop], [Amount], [CreatedAt], [UpdatedAt], [Star]) VALUES (1, 1, 9, 2, CAST(N'2021-06-11T10:48:42.980' AS DateTime), CAST(N'2021-06-11T10:48:42.980' AS DateTime), 5)
INSERT [dbo].[p2900orderdetail] ([id], [IdOrderShop], [IdShop], [Amount], [CreatedAt], [UpdatedAt], [Star]) VALUES (2, 1, 7, 2, CAST(N'2021-06-11T10:48:47.440' AS DateTime), CAST(N'2021-06-11T10:48:47.440' AS DateTime), 5)
INSERT [dbo].[p2900orderdetail] ([id], [IdOrderShop], [IdShop], [Amount], [CreatedAt], [UpdatedAt], [Star]) VALUES (3, 2, 1, 1, CAST(N'2021-06-11T11:05:08.597' AS DateTime), CAST(N'2021-06-11T11:05:08.597' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[p2900orderdetail] OFF
GO
SET IDENTITY_INSERT [dbo].[p3000commentstatus] ON 

INSERT [dbo].[p3000commentstatus] ([id], [Name]) VALUES (1, N'Mới tạo')
INSERT [dbo].[p3000commentstatus] ([id], [Name]) VALUES (2, N'Đã duyệt')
INSERT [dbo].[p3000commentstatus] ([id], [Name]) VALUES (3, N'Từ chối')
SET IDENTITY_INSERT [dbo].[p3000commentstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[p300roledetail] ON 

INSERT [dbo].[p300roledetail] ([id], [IdRole], [IdMenu], [Status]) VALUES (1, 1, 1, 2)
INSERT [dbo].[p300roledetail] ([id], [IdRole], [IdMenu], [Status]) VALUES (2, 1, 2, 2)
INSERT [dbo].[p300roledetail] ([id], [IdRole], [IdMenu], [Status]) VALUES (3, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[p300roledetail] OFF
GO
SET IDENTITY_INSERT [dbo].[p3200inputproduct] ON 

INSERT [dbo].[p3200inputproduct] ([id], [IdShop], [Note], [ExpiryDate], [CreatedAt], [Amount], [IdCity]) VALUES (1, 1, N'0', NULL, CAST(N'2021-06-11T10:34:43.000' AS DateTime), 5, 1)
INSERT [dbo].[p3200inputproduct] ([id], [IdShop], [Note], [ExpiryDate], [CreatedAt], [Amount], [IdCity]) VALUES (2, 1, N'5', NULL, CAST(N'2021-06-11T10:35:03.000' AS DateTime), 2, 4)
INSERT [dbo].[p3200inputproduct] ([id], [IdShop], [Note], [ExpiryDate], [CreatedAt], [Amount], [IdCity]) VALUES (3, 1, N'3', NULL, CAST(N'2021-06-11T10:35:44.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[p3200inputproduct] OFF
GO
SET IDENTITY_INSERT [dbo].[p3300warehouse] ON 

INSERT [dbo].[p3300warehouse] ([id], [IdShop], [Amount], [ExpiryDate], [IdCity]) VALUES (1, 1, 8, NULL, 1)
INSERT [dbo].[p3300warehouse] ([id], [IdShop], [Amount], [ExpiryDate], [IdCity]) VALUES (2, 1, 2, NULL, 4)
INSERT [dbo].[p3300warehouse] ([id], [IdShop], [Amount], [ExpiryDate], [IdCity]) VALUES (3, 2, 15, NULL, 17)
SET IDENTITY_INSERT [dbo].[p3300warehouse] OFF
GO
SET IDENTITY_INSERT [dbo].[p400banner] ON 

INSERT [dbo].[p400banner] ([id], [Image], [Position]) VALUES (1, N'http://127.0.0.1:8000/images\2021_05_17_17_05_59_Chup-hinh-san-pham-Root-03.jpg', 1)
INSERT [dbo].[p400banner] ([id], [Image], [Position]) VALUES (2, N'http://127.0.0.1:8000/images\2021_04_28_13_59_30_c3358bb87f18cf8bedac5b5f63710a0f.jpg', 2)
SET IDENTITY_INSERT [dbo].[p400banner] OFF
GO
SET IDENTITY_INSERT [dbo].[p500footer] ON 

SET IDENTITY_INSERT [dbo].[p500footer] OFF
GO
SET IDENTITY_INSERT [dbo].[p600headerinfo] ON 

INSERT [dbo].[p600headerinfo] ([id], [Phone], [Mail], [Logo]) VALUES (1, N'09888888', N'luongthanhbinh41115@gmail.com', N'http://127.0.0.1:8000/images\2021_06_11_09_08_47_logoizi.png')
SET IDENTITY_INSERT [dbo].[p600headerinfo] OFF
GO
SET IDENTITY_INSERT [dbo].[p700shop] ON 

INSERT [dbo].[p700shop] ([id], [Title], [Thumbnail], [Description], [PriceOrigin], [PriceCurrent], [Star], [Images], [Video], [IdShopCategories], [PricePromotion], [Point]) VALUES (1, N'Đồng hồ', N'http://127.0.0.1:8000/images\2021_04_28_13_25_25_dongho.png', N'<p>bbbb</p>
', 300000, 500000, 3, N'http://127.0.0.1:8000/images\2021_04_28_09_21_45_item-menu.jpg', N'<p>23424</p>
', 3, 600000, 10)
INSERT [dbo].[p700shop] ([id], [Title], [Thumbnail], [Description], [PriceOrigin], [PriceCurrent], [Star], [Images], [Video], [IdShopCategories], [PricePromotion], [Point]) VALUES (2, N'Laptop', N'http://127.0.0.1:8000/images\2021_04_28_09_23_38_maytinh.png', N'<p>bbb</p>

<p>\n</p>
', 400000, 500000, 5, N'http://127.0.0.1:8000/images\2021_04_28_09_23_43_img-contact.png', N'<p>bbb</p>
', 2, 800000, 20)
INSERT [dbo].[p700shop] ([id], [Title], [Thumbnail], [Description], [PriceOrigin], [PriceCurrent], [Star], [Images], [Video], [IdShopCategories], [PricePromotion], [Point]) VALUES (3, N'Đồ gia dụng', N'http://127.0.0.1:8000/images\2021_04_29_09_03_06_nhacua.png', N'<p>46456456</p>
', 20000, 30000, 5, N'http://127.0.0.1:8000/images\2021_04_29_09_03_33_bg-thank.jpg', N'<p>45345</p>
', 4, 50000, 0)
SET IDENTITY_INSERT [dbo].[p700shop] OFF
GO
SET IDENTITY_INSERT [dbo].[p800shopcombo] ON 

INSERT [dbo].[p800shopcombo] ([id], [Usd], [Ship]) VALUES (1, 23000, 25000)
SET IDENTITY_INSERT [dbo].[p800shopcombo] OFF
GO
ALTER TABLE [dbo].[p000account] ADD  DEFAULT (NULL) FOR [phone]
GO
ALTER TABLE [dbo].[p000account] ADD  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [dbo].[p000account] ADD  DEFAULT ('5f4dcc3b5aa765d61d8327deb882cf99') FOR [password]
GO
ALTER TABLE [dbo].[p000account] ADD  CONSTRAINT [DF_p000account_img]  DEFAULT (N'/assets/images/logo-admin.png') FOR [img]
GO
ALTER TABLE [dbo].[p000account] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[p000account] ADD  DEFAULT (NULL) FOR [role]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF__p1000shop__IdSho__4BCC3ABA]  DEFAULT (NULL) FOR [IdShop]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF__p1000shop__IdUse__4CC05EF3]  DEFAULT (NULL) FOR [IdUser]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF__p1000shop__IdCom__4DB4832C]  DEFAULT (NULL) FOR [IdCommentStatus]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF__p1000shop__Conte__4EA8A765]  DEFAULT (NULL) FOR [Content]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF__p1000shop__Creat__4F9CCB9E]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF_p1000shopcomment_IdTypeComment]  DEFAULT ((0)) FOR [IdTypeComment]
GO
ALTER TABLE [dbo].[p1000shopcomment] ADD  CONSTRAINT [DF_p1000shopcomment_IdStaff]  DEFAULT ((0)) FOR [IdStaff]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [IdParentMenu]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [IsGroup]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [Slug]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [Icon]
GO
ALTER TABLE [dbo].[p100menu] ADD  DEFAULT (NULL) FOR [Position]
GO
ALTER TABLE [dbo].[p1100shopcategories] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1200mealplantype] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1300blogcategories] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [IdBlogCategories]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [Title]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [Thumbnail]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [Content]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (NULL) FOR [NumberView]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p1400blog] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Address]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Mail]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Working]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Facebook]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Instagram]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Youtube]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Twitter]
GO
ALTER TABLE [dbo].[p1500contactinfo] ADD  DEFAULT (NULL) FOR [Map]
GO
ALTER TABLE [dbo].[p1600contactstatus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1700contactus] ADD  CONSTRAINT [DF__p1700cont__IdCon__6B44E613]  DEFAULT ((1)) FOR [IdContactStatus]
GO
ALTER TABLE [dbo].[p1700contactus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1700contactus] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[p1700contactus] ADD  DEFAULT (NULL) FOR [Message]
GO
ALTER TABLE [dbo].[p1800userstatus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p1900roleuser] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__IdUse__73DA2C14]  DEFAULT (NULL) FOR [IdUserStatus]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Fulln__74CE504D]  DEFAULT (NULL) FOR [Fullname]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Email__75C27486]  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Passw__76B698BF]  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Avata__77AABCF8]  DEFAULT (NULL) FOR [Avatar]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__IdRol__789EE131]  DEFAULT (NULL) FOR [IdRoleUser]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Creat__7993056A]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF__p2000user__Updat__7A8729A3]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[p2000user] ADD  CONSTRAINT [DF_p2000user_Point]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[p200role] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2100promotion] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2100promotion] ADD  DEFAULT (NULL) FOR [PromotionCode]
GO
ALTER TABLE [dbo].[p2100promotion] ADD  DEFAULT (NULL) FOR [PercentCode]
GO
ALTER TABLE [dbo].[p2100promotion] ADD  DEFAULT (NULL) FOR [MoneyDiscount]
GO
ALTER TABLE [dbo].[p2100promotion] ADD  DEFAULT (NULL) FOR [Point]
GO
ALTER TABLE [dbo].[p2200orderstatus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2300paymentstatus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2400paymenttype] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2600district] ADD  DEFAULT (NULL) FOR [IdCity]
GO
ALTER TABLE [dbo].[p2600district] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2700producttype] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  CONSTRAINT [DF__p2800orde__IdPro__0E8E2250]  DEFAULT ((1)) FOR [IdProductType]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdUser]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdOrderStatus]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdCity]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdDistrict]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdPaymentStatus]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [IdPaymentType]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [PromotionCode]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [Address]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (NULL) FOR [Note]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p2800ordershop] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  DEFAULT (NULL) FOR [IdOrderShop]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  DEFAULT (NULL) FOR [IdShop]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  DEFAULT (NULL) FOR [Amount]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[p2900orderdetail] ADD  CONSTRAINT [DF_p2900orderdetail_Star]  DEFAULT ((5)) FOR [Star]
GO
ALTER TABLE [dbo].[p3000commentstatus] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[p300roledetail] ADD  DEFAULT (NULL) FOR [IdRole]
GO
ALTER TABLE [dbo].[p300roledetail] ADD  DEFAULT (NULL) FOR [IdMenu]
GO
ALTER TABLE [dbo].[p3100mypromotion] ADD  DEFAULT (NULL) FOR [IdPromotion]
GO
ALTER TABLE [dbo].[p3100mypromotion] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p3200inputproduct] ADD  DEFAULT (NULL) FOR [IdShop]
GO
ALTER TABLE [dbo].[p3200inputproduct] ADD  DEFAULT (NULL) FOR [Note]
GO
ALTER TABLE [dbo].[p3200inputproduct] ADD  DEFAULT (NULL) FOR [ExpiryDate]
GO
ALTER TABLE [dbo].[p3200inputproduct] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[p3300warehouse] ADD  DEFAULT (NULL) FOR [IdShop]
GO
ALTER TABLE [dbo].[p3300warehouse] ADD  DEFAULT (NULL) FOR [Amount]
GO
ALTER TABLE [dbo].[p3300warehouse] ADD  DEFAULT (NULL) FOR [ExpiryDate]
GO
ALTER TABLE [dbo].[p400banner] ADD  DEFAULT (NULL) FOR [Image]
GO
ALTER TABLE [dbo].[p400banner] ADD  DEFAULT (NULL) FOR [Position]
GO
ALTER TABLE [dbo].[p600headerinfo] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[p600headerinfo] ADD  DEFAULT (NULL) FOR [Mail]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Title]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Thumbnail]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [PriceOrigin]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [PriceCurrent]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Star]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Images]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [Video]
GO
ALTER TABLE [dbo].[p700shop] ADD  DEFAULT (NULL) FOR [IdShopCategories]
GO
ALTER TABLE [dbo].[p700shop] ADD  CONSTRAINT [DF_p700shop_Point]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[p800shopcombo] ADD  CONSTRAINT [DF__p800shopco__Name__46136164]  DEFAULT (NULL) FOR [Usd]
GO
ALTER TABLE [dbo].[p800shopcombo] ADD  CONSTRAINT [DF__p800shopc__Price__4707859D]  DEFAULT (NULL) FOR [Ship]
GO
ALTER TABLE [dbo].[p900shopcombodetail] ADD  DEFAULT (NULL) FOR [IdShopCombo]
GO
ALTER TABLE [dbo].[p900shopcombodetail] ADD  DEFAULT (NULL) FOR [IdShop]
GO
